<template>
  <fieldset>
    <div class="divide-y divide-gray-100">
      <div v-for="(side, sideIdx) in sides" :key="sideIdx" class="relative flex items-center py-5">
        <div class="absolute left-0">
          <img class="w-10" :src="side.img" alt="">
        </div>
        <div class="flex-1 min-w-0 text-sm ml-14">
          <label :for="`side-${side.id}`" class="font-medium text-gray-700 select-none">{{ side.name }}</label>
        </div>
        <div class="flex items-center h-5 ml-3">
          <input :id="`side-${side.id}`" name="plan" type="radio" :checked="side.id === null" class="w-4 h-4 text-indigo-600 border-gray-300 focus:ring-indigo-500" />
        </div>
      </div>
    </div>
  </fieldset>
</template>

<script setup>
const sides = [
  { id: 1, name: 'Transfer Bank Mandiri', img: 'https://images.tokopedia.net/img/toppay/logo-mandiri.png' },
  { id: 2, name: 'Transfer Bank BCA', img: 'https://ecs7.tokopedia.net/img/toppay/sprites/bca.png' },
  { id: 3, name: 'Transfer Bank BNI', img: 'https://ecs7.tokopedia.net/img/toppay/sprites/bni.png' },
  { id: 4, name: 'Transfer Bank BRI', img: 'https://ecs7.tokopedia.net/img/toppay/bank-bri.png' },
  { id: 5, name: 'Transfer Bank CIMB Niaga', img: 'https://ecs7.tokopedia.net/img/toppay/logo-cimb-niaga.png' },
]
</script>