<template>
  <section>
    <label for="search" class="sr-only">Cari layanan medis...</label>
    <div class="relative">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none" aria-hidden="true">
        <svg class="w-5 h-5 mr-3 text-gray-400" x-description="Heroicon name: mini/magnifying-glass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd"></path>
        </svg>
      </div>
      <input type="text" name="search" id="search" class="block w-full py-4 pl-10 text-sm font-medium text-gray-600 placeholder-gray-400 bg-gray-100 border-none rounded-xl focus:border-indigo-400 focus:ring-2 focus:ring-indigo-400" placeholder="Cari layanan medis...">
    </div>
  </section>
</template>