<template>
  <div class="px-4 py-3 border border-gray-200 rounded-xl focus-within:border-indigo-600 focus-within:ring-1 focus-within:ring-indigo-600">
    <label for="name" class="block text-xs font-normal text-gray-900">Tanggal</label>
    <input type="text" name="name" id="name" class="block w-full p-0 text-sm font-bold text-gray-900 placeholder-gray-400 border-0 focus:ring-0" placeholder="November 7, 2022" />
  </div>
</template>