<template>
  <NuxtLink
    :to="to"
    class="inline-flex items-center justify-center w-full px-4 py-4 text-sm font-semibold text-indigo-500 bg-indigo-100 border border-transparent shadow-sm select-none rounded-xl hover:bg-indigo-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
  >
    <slot></slot>
  </NuxtLink>
</template>