<template>
  <div class="fixed bottom-0 z-20 pb-2 flex w-full max-w-md bg-white shadow-[0_-35px_60px_-15px_rgba(0,0,0,0.15)]">
    <NuxtLink to="/" class="flex items-center justify-center flex-grow p-2 pt-1 text-gray-500 hover:text-indigo-500">
      <div class="text-center">
        <span class="flex flex-col items-center justify-center h-8 text-3xl leading-8">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
            <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
            <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
          </svg>
        </span>
        <span class="block text-xs font-semibold leading-none">Home</span>
      </div>
    </NuxtLink>
    <NuxtLink to="/myorder" class="flex items-center justify-center flex-grow p-2 pt-1 text-gray-500 hover:text-indigo-500">
      <div class="text-center">
        <span class="flex flex-col items-center justify-center h-8 text-3xl leading-8">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 010 3.75H5.625a1.875 1.875 0 010-3.75z" />
          </svg>
        </span>
        <span class="block text-xs font-semibold leading-none">My Order</span>
      </div>
    </NuxtLink>
    <!-- <NuxtLink to="/messages" class="flex items-center justify-center flex-grow p-2 pt-1 text-gray-500 hover:text-indigo-500">
      <div class="text-center">
        <span class="flex flex-col items-center justify-center h-8 text-3xl leading-8">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z" />
          </svg>
        </span>
        <span class="block text-xs font-semibold leading-none">Messages</span>
      </div>
    </NuxtLink> -->
    <NuxtLink to="/profile" class="flex items-center justify-center flex-grow p-2 pt-1 text-gray-500 hover:text-indigo-500">
      <div class="text-center">
        <span class="flex flex-col items-center justify-center h-8 text-3xl leading-8">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
        </span>
        <span class="block text-xs font-semibold leading-none">Profile</span>
      </div>
    </NuxtLink>
  </div>
</template>

<style scoped>
.router-link-active, .nuxt-link-exact-active {
  @apply text-indigo-500;
}
</style>