<template>
  <div class="fixed -ml-5 top-0 z-10 flex items-center justify-center w-full font-bold px-4 py-3 tracking-tight text-gray-800 max-w-md bg-white shadow-[0_35px_60px_-15px_rgba(0,0,0,0.15)]">
    <button type="button" onclick="history.back()" class="absolute p-2 left-3">
      <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-700">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
      </svg>
    </button>
    <h3>Title Headers</h3>
  </div>
</template>