<template>
  <section>
    <div>
      <label for="location" class="block text-sm font-medium text-gray-700">Discover Location</label>
      <select id="location" name="location" class="block w-full p-0 pr-10 text-base font-bold border-none focus:border-transparent focus:ring-0 focus:outline-none">
        <option>United States</option>
        <option selected>Buana Ciwastra Residence</option>
        <option>Mexico</option>
      </select>
    </div>
  </section>
</template>