<template>
  <div class="flex flex-col justify-between h-screen max-w-md min-h-screen mx-auto overflow-hidden shadow-xl min-w-min font-primary">
    <!-- <NavigationHeaderNav /> -->
    <main class="relative w-full h-full px-5 py-5 space-y-5 overflow-y-auto bg-white">
      <slot />
    </main>
    <!-- <NavigationBottomNavAuth /> -->
  </div>

  <!-- <div class="flex items-center justify-center max-w-md min-h-screen mx-auto overflow-hidden bg-gray-200 shadow-xl min-w-min font-primary">
    <div class="relative flex w-full h-screen overflow-hidden text-gray-800 bg-white">
      <div class="relative w-full h-screen px-5 py-5 space-y-5 overflow-y-auto bg-white">
        <slot />
      </div>
    </div>
  </div> -->

</template>