<template>

  <div class="flex items-center justify-center max-w-md min-h-screen mx-auto overflow-hidden bg-gray-200 shadow-xl min-w-min font-primary">
    <div class="relative flex w-full h-screen overflow-hidden text-gray-800 bg-white">
      <div class="w-full h-[calc(100vh-64px)] px-5 py-5 overflow-y-auto bg-white space-y-5 relative">
        <slot />
      </div>
      <NavigationBottomNav />
    </div>
  </div>
  
</template>