<template>
  <div class="flex flex-col justify-between h-screen max-w-md min-h-screen mx-auto overflow-hidden shadow-xl min-w-min font-primary">
    <NavigationHeaderNav />
    <main class="relative w-full h-full px-5 py-5 space-y-5 overflow-y-auto bg-white">
      <slot />
    </main>
    <NavigationBottomNavAuth />
  </div>
</template>