<template>
  <section class="absolute inset-0 z-10 !mt-0 transition-all">
    <div class="absolute inset-0 transition-opacity bg-gray-500 bg-opacity-75" @click="$emit('close-modal')"></div>
    <div class="absolute bottom-0 left-0 right-0 z-10 overflow-y-auto">
      <div class="flex items-end justify-center min-h-full text-center sm:items-center">
        <div class="relative w-full max-w-md p-5 overflow-hidden text-left bg-white rounded-bl-none rounded-br-none shadow-xl rounded-3xl">
          <div class="space-y-4">
            <section class="">
              <div class="w-full p-5 bg-indigo-50 rounded-2xl">
                <h1 class="mb-3 text-lg font-bold">Perawat Homecare</h1>
                <p class="mb-3 text-sm text-gray-500">Perawat homecare merupakan perawat medis yang melakukan proses asuhan keperawatan di rumah pasien, khususnya pada pasien yang mengalami gangguan kesehatan kategori sedang hingga berat.</p>
                <p class="text-sm font-bold text-indigo-500">Lebih Detail</p>
              </div>
            </section>
            <section class="space-y-3">
              <div class="relative">
                <div class="absolute inset-y-0 left-0 w-1.5 h-full bg-indigo-200 rounded pointer-events-none" aria-hidden="true" />
                <h1 class="pl-4 mb-3 text-lg font-extrabold leading-6">Jadwal Kedatangan</h1>
              </div>
              <div class="px-4 py-3 border border-gray-200 rounded-xl focus-within:border-indigo-600 focus-within:ring-1 focus-within:ring-indigo-600">
                <label for="name" class="block text-xs font-normal text-gray-900">Tanggal</label>
                <input type="datetime" name="name" id="name" class="block w-full p-0 text-sm font-bold text-gray-900 placeholder-gray-400 border-0 focus:ring-0" placeholder="November 7, 2022" />
              </div>
              <div class="px-4 py-3 border border-gray-200 rounded-xl focus-within:border-indigo-600 focus-within:ring-1 focus-within:ring-indigo-600">
                <label for="name" class="block text-xs font-normal text-gray-900">Pukul</label>
                <input type="text" name="name" id="name" class="block w-full p-0 text-sm font-bold text-gray-900 placeholder-gray-400 border-0 focus:ring-0" placeholder="12:00-01:00PM" />
              </div>
              <div class="px-4 py-3 border border-gray-200 rounded-xl focus-within:border-indigo-600 focus-within:ring-1 focus-within:ring-indigo-600">
                <label for="name" class="block text-xs font-normal text-gray-900">Jam Kerja</label>
                <input type="text" name="name" id="name" class="block w-full p-0 text-sm font-bold text-gray-900 placeholder-gray-400 border-0 focus:ring-0" placeholder="Harian, 10 Jam, Pulang Pergi" />
              </div>
              <ButtonPrimary to="/summary">Lanjutkan</ButtonPrimary>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>