<template>
  <section class="select-none">
    <img src="~/assets/img/perawat-hero.png" class="pt-6" alt="">
    <div class="p-4 bg-indigo-50 rounded-2xl">
      <div class="flex">
        <div class="flex flex-row items-center justify-between flex-1">
          <div class="mb-1">
            <h4 class="text-sm">
              <a href="#" class="text-xl font-bold text-gray-900">Rani Oktaviani</a>
            </h4>
            <p class="mt-1 text-sm text-gray-500">Saldo <b>Rp. 1.500.000</b></p>
          </div>
          <div class="relative inline-block text-left">
            <div>
              <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-lg bg-indigo-500 px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-400" id="menu-button" aria-expanded="true" aria-haspopup="true">
                Online
                <svg class="w-5 h-5 -mr-1 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                </svg>
              </button>
            </div>

            <div class="absolute right-0 z-10 mt-2 origin-top-right bg-white rounded-md shadow-lg w-28 ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
              <div class="py-1" role="none">
                <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                <a href="#" class="block px-4 py-2 text-sm text-gray-900 bg-gray-100" role="menuitem" tabindex="-1" id="menu-item-0">Online</a>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-1">Offline</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="select-none">
    <div class="grid grid-cols-2 gap-3">
      <NuxtLink to="/myorder" class="p-4 border border-gray-200 rounded-xl">
        <h1 class="text-sm font-semibold text-gray-500">Pesanan Baru</h1>
        <p class="flex items-stretch mt-1 text-2xl font-bold">3 <span class="inline-flex ml-2 h-6 self-center items-center rounded-md bg-indigo-100 px-2 py-0.5 text-xs font-bold text-indigo-700">New</span></p>
      </NuxtLink>
      <NuxtLink to="/" class="p-4 border border-gray-200 rounded-xl">
        <h1 class="text-sm font-semibold text-gray-500">Rating User</h1>
        <p class="flex items-stretch mt-1 text-2xl font-bold">4.5</p>
      </NuxtLink>
      <NuxtLink to="/" class="p-4 border border-gray-200 rounded-xl">
        <h1 class="text-sm font-semibold text-gray-500">Pesanan Sukses</h1>
        <p class="flex items-stretch mt-1 text-2xl font-bold">23</p>
      </NuxtLink>
      <NuxtLink to="/" class="p-4 border border-gray-200 rounded-xl">
        <h1 class="text-sm font-semibold text-gray-500">Unread Chat</h1>
        <p class="flex items-stretch mt-1 text-2xl font-bold">35</p>
      </NuxtLink>
    </div>
  </section>
  <ModalWizard v-show="showModal" @close-modal="showModal = false" />
</template>
<script>
export default {
  data() {
    return {
      showModal: false,
    }
  },
}
</script>