<template>
  <section class="select-none">
    <h1 class="mb-4 text-xl font-extrabold">Promo & Discounts</h1>
    <div class="relative flex w-full gap-3 overflow-x-auto no-scrollbar snap-x snap-mandatory">
      <div class="snap-start last:snap-end shrink-0">
        <img class="h-40 bg-white rounded-2xl no-scrollbar shrink-0 w-80" src="~/assets/img/promo1.png">
      </div>
      <div class="snap-start last:snap-end shrink-0">
        <img class="h-40 bg-white rounded-2xl no-scrollbar shrink-0 w-80" src="~/assets/img/promo1.png">
      </div>
      <div class="snap-start last:snap-end shrink-0">
        <img class="h-40 bg-white rounded-2xl no-scrollbar shrink-0 w-80" src="~/assets/img/promo1.png">
      </div>
    </div>
  </section>
</template>