<template>
  <section class="select-none">
    <h1 class="mb-4 text-xl font-extrabold">Layanan Kami</h1>
    <div class="grid grid-cols-4 gap-x-8 gap-y-4">
      <button class="relative col-span-1" @click="showModal = true">
        <img src="~/assets/img/homecare.png" alt="" loading="lazy" class="object-center w-full" />
        <h2 class="mt-3 text-xs font-semibold text-center">Perawat Homecare</h2>
      </button>
      <button class="relative col-span-1">
        <img src="~/assets/img/konsultasi-dokter.png" alt="" loading="lazy" class="object-center w-full">
        <h2 class="mt-3 text-xs font-semibold text-center">Konsultasi Dokter</h2>
      </button>
      <button class="relative col-span-1">
        <img src="~/assets/img/fisioterapi.png" alt="" loading="lazy" class="object-center w-full">
        <h2 class="mt-3 text-xs font-semibold text-center">Layanan Fisioterapi</h2>
      </button>
      <button class="relative col-span-1">
        <img src="~/assets/img/konsultasi-gizi.png" alt="" loading="lazy" class="object-center w-full">
        <h2 class="mt-3 text-xs font-semibold text-center">Konsultasi Gizi</h2>
      </button>
      <button class="relative col-span-1">
        <img src="~/assets/img/sewa-alat.png" alt="" loading="lazy" class="object-center w-full" />
        <h2 class="mt-3 text-xs font-semibold text-center">Sewa Alat Medis</h2>
      </button>
      <button class="relative col-span-1">
        <img src="~/assets/img/visit-dokter.png" alt="" loading="lazy" class="object-center w-full">
        <h2 class="mt-3 text-xs font-semibold text-center">Visit Dokter</h2>
      </button>
      <button class="relative col-span-1">
        <img src="~/assets/img/visit-perawat.png" alt="" loading="lazy" class="object-center w-full">
        <h2 class="mt-3 text-xs font-semibold text-center">Visit Perawat</h2>
      </button>
      <button class="relative col-span-1">
        <img src="~/assets/img/more.png" alt="" loading="lazy" class="object-center w-full">
        <h2 class="mt-3 text-xs font-semibold text-center">Lainnya</h2>
      </button>
    </div>
  </section>
  <ModalWizard v-show="showModal" @close-modal="showModal = false" />
</template>
<script>
export default {
  data() {
    return {
      showModal: false,
    }
  },
}
</script>