<template>
  <NavigationHeaderNav />
  <section class="pt-3 select-none">
    <ul role="list" class="divide-y divide-gray-100">
      <li class="relative flex items-center py-4">
        <div class="flex flex-col flex-1">
          <div class="">
            <div class="flex justify-between mb-2">
              <h4 class="text-sm">
                <NuxtLink to="/new-order" class="text-base font-bold text-gray-700 hover:text-gray-800">
                  <span class="absolute inset-x-0 bottom-0 -top-px"></span>Perawat Homecare
                </NuxtLink>
              </h4>
            </div>
            <p class="text-sm font-bold text-indigo-500">Partial Care</p>
            <p class="text-sm text-gray-500">7 Nov - 14 Nov 2023 (7 Hari)</p>
            <p class="mt-1 text-base font-bold text-gray-800">Rp.120.000</p>
          </div>
        </div>
        <div class="justify-end flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
          </svg>
        </div>
      </li>
      <li class="relative flex items-center py-4">
        <div class="flex flex-col flex-1">
          <div class="">
            <div class="flex justify-between mb-2">
              <h4 class="text-sm">
                <NuxtLink to="/new-order" class="text-base font-bold text-gray-700 hover:text-gray-800">
                  <span class="absolute inset-x-0 bottom-0 -top-px"></span>Perawat Homecare
                </NuxtLink>
              </h4>
            </div>
            <p class="text-sm font-bold text-indigo-500">Partial Care</p>
            <p class="text-sm text-gray-500">7 Nov - 14 Nov 2023 (7 Hari)</p>
            <p class="mt-1 text-base font-bold text-gray-800">Rp.120.000</p>
          </div>
        </div>
        <div class="justify-end flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
          </svg>
        </div>
      </li>
    </ul>
  </section>
</template>