<template>
  <NavigationHeaderNav />
  <section class="pt-6 select-none">
    <div class="w-full p-5 space-y-3 bg-indigo-50 rounded-2xl">
      <div>
        <h1 class="text-sm font-bold">Tanggal Kedatangan</h1>
        <p class="text-sm text-gray-500">7 November 2022</p>
      </div>
      <div>
        <h1 class="text-sm font-bold">Nama Pasien</h1>
        <p class="text-sm text-gray-500">Sri Handayani</p>
      </div>
      <div>
        <h1 class="text-sm font-bold">Alamat Pasien</h1>
        <p class="text-sm text-gray-500">Jl. Cijerokaso No. 110 <br />
          Kota Bandung, Indonesia 48763</p>
      </div>
    </div>
  </section>
  <section class="select-none">
    <div class="relative mt-3">
      <div class="absolute inset-y-0 left-0 w-1.5 h-full bg-indigo-200 rounded pointer-events-none" aria-hidden="true" />
      <h1 class="pl-4 mb-2 text-lg font-extrabold leading-6">Jasa Layanan</h1>
    </div>
    <ul role="list" class="divide-y divide-gray-100">
      <li class="flex py-4">
        <div class="flex-shrink-0">
          <div class="flex items-center justify-center w-6 h-6 text-sm font-extrabold text-gray-700 border border-gray-300 rounded-full">1</div>
        </div>
        <div class="flex flex-col flex-1 ml-4">
          <div>
            <div class="flex justify-between mb-2">
              <h4 class="text-sm">
                <a href="#" class="font-bold text-gray-700 hover:text-gray-800">Perawat Homecare</a>
              </h4>
              <p class="ml-4 text-sm font-medium text-gray-900">Rp.250.000</p>
            </div>
            <p class="text-sm text-gray-500">Partial Care</p>
            <p class="text-sm text-gray-500">Harian, 10 Jam PP</p>
          </div>
        </div>
      </li>
      <li class="flex py-4">
        <div class="flex-shrink-0">
          <div class="flex items-center justify-center w-6 h-6 text-sm font-extrabold text-gray-700 border border-gray-300 rounded-full">2</div>
        </div>
        <div class="flex flex-col flex-1 ml-4">
          <div>
            <div class="flex justify-between mb-2">
              <h4 class="text-sm">
                <a href="#" class="font-bold text-gray-700 hover:text-gray-800">Additional Fee</a>
              </h4>
              <p class="ml-4 text-sm font-medium text-gray-900">Rp.120.000</p>
            </div>
            <p class="text-sm text-gray-500">Ranjang Pasien</p>
            <p class="text-sm text-gray-500">Tabung Oxygen 2kg</p>
          </div>
        </div>
      </li>
    </ul>
    <dl class="mt-3 space-y-4 text-sm font-medium text-gray-500 border-gray-200">
      <div class="space-y-3">
        <div class="flex justify-between">
          <dt>Subtotal</dt>
          <dd class="text-gray-900">Rp.320.000</dd>
        </div>
        <div class="flex justify-between">
          <dt>Shipping</dt>
          <dd class="text-gray-900">Rp.30.000</dd>
        </div>
      </div>
      <div class="flex items-center justify-between pt-4 text-gray-900 border-t border-gray-100">
        <dt class="text-base">Total</dt>
        <dd class="text-base">Rp.350.000</dd>
      </div>
    </dl>
    <div class="flex gap-3 mt-8">
      <ButtonSecondary to="/" class="w-[58px] flex-shrink-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-indigo-500">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </ButtonSecondary>
      <ButtonPrimary to="/success" class="flex-1">Terima Pesanan <span class="inline-flex ml-2 h-6 self-center items-center rounded-full bg-indigo-300 px-2 py-0.5 text-xs font-bold text-indigo-700">3:26</span></ButtonPrimary>
    </div>
  </section>
</template>