<template>
  <NavigationHeaderNav />
  <section class="pt-6 select-none">
    <div class="w-full p-5 space-y-3 bg-indigo-50 rounded-2xl">
      <div class="space-y-1">
        <h1 class="text-sm font-bold">Total Pembayaran</h1>
        <h1 class="text-2xl font-extrabold">Rp.350.000</h1>
        <p class="text-sm text-gray-500">Sudah termasuk pajak</p>
      </div>
    </div>
  </section>
  <section class="pt-1 select-none">
    <div class="relative">
      <div class="absolute inset-y-0 left-0 w-1.5 h-full bg-indigo-200 rounded pointer-events-none" aria-hidden="true" />
      <h1 class="pl-4 mb-2 text-lg font-extrabold leading-6">Pilih Bank</h1>
    </div>
    <InputRadio />
    <ButtonPrimary to="/">Bayar</ButtonPrimary>
  </section>
</template>