<template>
  <NavigationHeaderNav />
  <div class="flex flex-col justify-between h-[calc(100vh-132px)] pt-6">
    <section class="relative mb-4 space-y-4">
      <img class="w-32 h-32 mx-auto my-20 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
      <div class="px-4 py-3 border border-gray-200 rounded-xl focus-within:border-indigo-600 focus-within:ring-1 focus-within:ring-indigo-600">
        <label for="name" class="block text-xs font-normal text-gray-900">Nama Lengkap</label>
        <input type="text" name="name" id="name" class="block w-full p-0 text-sm font-bold text-gray-900 placeholder-gray-400 border-0 focus:ring-0" placeholder="Aditya Satrio Wibowo" />
      </div>
      <div class="px-4 py-3 border border-gray-200 rounded-xl focus-within:border-indigo-600 focus-within:ring-1 focus-within:ring-indigo-600">
        <label for="name" class="block text-xs font-normal text-gray-900">Email</label>
        <input type="text" name="name" id="name" class="block w-full p-0 text-sm font-bold text-gray-900 placeholder-gray-400 border-0 focus:ring-0" placeholder="adtyasatrio@gmail.com" />
      </div>
      <div class="px-4 py-3 border border-gray-200 rounded-xl focus-within:border-indigo-600 focus-within:ring-1 focus-within:ring-indigo-600">
        <label for="name" class="block text-xs font-normal text-gray-900">No. Handphone</label>
        <input type="text" name="name" id="name" class="block w-full p-0 text-sm font-bold text-gray-900 placeholder-gray-400 border-0 focus:ring-0" placeholder="08788888888" />
      </div>
    </section>
    <section class="w-full space-y-3">
      <ButtonPrimary to="/">Simpan</ButtonPrimary>
      <ButtonSecondary to="/signin">Sign Out</ButtonSecondary>
    </section>
  </div>
</template>