<template>
  <div class="flex flex-col justify-between h-full max-w-md mx-auto min-w-min font-primary">
    <p class="text-sm font-bold text-right text-gray-600">Help</p>
    <section>
      <img src="~/assets/img/icon.png" class="mb-4 w-28" alt="">
      <h1 class="mb-2 text-3xl font-extrabold">iHomeCare</h1>
      <p class="text-base text-gray-500">Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt,</p>
    </section>
    <section class="space-y-4">
      <div class="px-4 py-3 border border-gray-200 rounded-xl focus-within:border-indigo-600 focus-within:ring-1 focus-within:ring-indigo-600">
        <label for="name" class="block text-xs font-normal text-gray-900">Nomor Handphone</label>
        <input type="text" name="name" id="name" class="block w-full p-0 text-sm font-bold text-gray-900 placeholder-gray-400 border-0 focus:ring-0" placeholder="08xxxxxxxxxx" />
      </div>
      <ButtonPrimary to="/">Masuk</ButtonPrimary>
      <p class="text-sm font-semibold text-center text-gray-600">Anda belum punya akun? <NuxtLink to="/signup" class="font-bold text-indigo-600">Daftar</NuxtLink></p>
    </section>
    <p class="mb-4 text-xs font-medium text-center text-gray-600">By login you accept our Terms of Use and Privacy Policy</p>
  </div>
</template>

<script>
definePageMeta({
  layout: "auth",
});
</script>