<template>
  <NavigationHeaderNav />
  <div class="flex flex-col justify-between h-[calc(100vh-68px)] pt-6">
    <section class="relative mb-4 space-y-4">
      <div class="px-4 py-3 border border-gray-200 rounded-xl focus-within:border-indigo-600 focus-within:ring-1 focus-within:ring-indigo-600">
        <label for="name" class="block text-xs font-normal text-gray-900">Nama Lengkap</label>
        <input type="text" name="name" id="name" class="block w-full p-0 text-sm font-bold text-gray-900 placeholder-gray-400 border-0 focus:ring-0" placeholder="Aditya Satrio Wibowo" />
      </div>
      <div class="px-4 py-3 border border-gray-200 rounded-xl focus-within:border-indigo-600 focus-within:ring-1 focus-within:ring-indigo-600">
        <label for="name" class="block text-xs font-normal text-gray-900">Email</label>
        <input type="text" name="name" id="name" class="block w-full p-0 text-sm font-bold text-gray-900 placeholder-gray-400 border-0 focus:ring-0" placeholder="adtyasatrio@gmail.com" />
      </div>
      <div class="px-4 py-3 border border-gray-200 rounded-xl focus-within:border-indigo-600 focus-within:ring-1 focus-within:ring-indigo-600">
        <label for="name" class="block text-xs font-normal text-gray-900">No. Handphone</label>
        <input type="text" name="name" id="name" class="block w-full p-0 text-sm font-bold text-gray-900 placeholder-gray-400 border-0 focus:ring-0" placeholder="08788888888" />
      </div>
    </section>
    <section class="w-full">
      <ButtonPrimary to="/signin">Register</ButtonPrimary>
    </section>
  </div>
</template>

<script>
definePageMeta({
  layout: "auth",
});
</script>