<template>
  <NavigationHeaderNav />
  <section class="pt-6 select-none">
    <div class="py-24 text-center">
      <svg class="w-20 h-20 mx-auto text-gray-400" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_654_1435)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M35 70C54.33 70 70 54.33 70 35C70 15.67 54.33 0 35 0C15.67 0 0 15.67 0 35C0 54.33 15.67 70 35 70Z" fill="#928FFF" />
          <path d="M24.8645 35.9271C24.295 35.3576 23.3717 35.3576 22.8021 35.9271C22.2326 36.4967 22.2326 37.42 22.8021 37.9895L30.0938 45.2812C30.6633 45.8507 31.5867 45.8507 32.1562 45.2812L48.1979 29.2395C48.7674 28.67 48.7674 27.7467 48.1979 27.1771C47.6284 26.6076 46.705 26.6076 46.1355 27.1771L31.125 42.1876L24.8645 35.9271Z" fill="white" />
        </g>
        <defs>
          <clipPath id="clip0_654_1435">
            <rect width="70" height="70" fill="white" />
          </clipPath>
        </defs>
      </svg>

      <h2 class="mt-6 text-lg font-bold leading-6 text-gray-900">Anda telah menerima pemesanan</h2>
      <p class="mt-1 text-base text-gray-500">Berikut detail pemesanan Homecare dengan <br> No. Transaksi <b>IC-785128</b></p>
    </div>
  </section>
  <section class="select-none">
    <div class="w-full p-5 space-y-3 bg-indigo-50 rounded-2xl">
      <div>
        <h1 class="text-sm font-bold">Tanggal Kedatangan</h1>
        <p class="text-sm text-gray-500">7 November 2022</p>
      </div>
      <div>
        <h1 class="text-sm font-bold">Nama Pasien</h1>
        <p class="text-sm text-gray-500">Sri Handayani</p>
      </div>
      <div>
        <h1 class="text-sm font-bold">Alamat Pasien</h1>
        <p class="text-sm text-gray-500">Jl. Cijerokaso No. 110 <br />
          Kota Bandung, Indonesia 48763</p>
      </div>
    </div>
  </section>
  <ButtonPrimary to="/" class="mt-4">Tutup</ButtonPrimary>
</template>